.container
{
    display: grid;
    grid-template-columns: 15% 65% 10% 10%;
    align-items: baseline;
    border-bottom: lightgray solid 1px;
    button
    {
        width: 125px;
        height: 30px;
        border-radius: 2px;
        background-color: rgb(76, 108, 150);
        border: rgb(47, 82, 128) solid 1px;
        color: white;
    }
    .NYT-logo
    {
        margin-left: 20px ;
        top: 0px;
    }
}

.centered
{
    text-align: center;
}
